.navbar {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-left: 3rem;
  width: clamp(15px, 18vw, 121px);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  gap: 1rem;
}


