.hr {
  width: 100vw;
  height: 1px;
  background-color: gray;
}

.projects {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 5rem 3rem;
    display: grid;
    align-items: normal;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 3rem;
    justify-content: center;
  }
}
