.hr {
  width: 100vw;
  height: 1px;
  background-color: gray;
}


.projects {
  margin: 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 3rem;
  justify-content: center;
}
