.project-card {
  /* border: solid 1px #9c9ca3; */
  background-color: #494d55;
  /* background-color: #242424; */
  /* background-color: var(--bg-color); */
  padding: 1rem;
  /* width: clamp(400px, 30vw, 800px); */
}


.project-card-img {
  float: left;
  width: 50%;
  margin-right: 1rem;
}
