.skills-box {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: clamp(250px, 25vw, 400px);
    gap: .3rem;
}

.skills-header-tag {
    border: solid 1px var(--aqua);
    border-radius: 3px;
    padding: 3px;
    color: black;
    background-color: var(--aqua-light);
}

.skill-tag {
    border: solid 1px var(--peach);
    border-radius: 3px;
    color: black;
    background-color: var(--peach-light);
    padding: 3px;
}